apiVersion: v1
kind: ConfigMap
metadata:
  name: nautobot-config
  labels:
    app.kubernetes.io/name: nautobot
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  .bashrc: |
    {{- .Files.Get "cm/.bashrc" | nindent 4 }}

  uwsgi.ini: |
    {{- .Files.Get "cm/uwsgi.ini" | nindent 4 }}

  nautobot_config.py: |
    {{- .Files.Get "cm/nautobot_config.py" | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nautobot-resolv
  labels:
    app.kubernetes.io/name: nautobot
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  resolv.conf: |
    {{- .Files.Get "cm/resolv.conf" | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nautobot-entrypoint-sh
  labels:
    app.kubernetes.io/name: nautobot
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  entrypoint.sh:
    #!/bin/bash

    while true; do sleep 3600; done
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nautobot-scheduler-entrypoint-sh
  labels:
    app.kubernetes.io/name: nautobot
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  entrypoint.sh:
    #!/bin/bash

    while true; do sleep 3600; done
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nautobot-worker-entrypoint-sh
  labels:
    app.kubernetes.io/name: nautobot
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  entrypoint.sh:
    #!/bin/bash

    while true; do sleep 3600; done
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nautobot-redis
  labels:
    app.kubernetes.io/name: nautobot
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  celery_url: redis://redis.database.svc.cluster.local/1
  host: redis.database.svc.cluster.local
  scheme: redis
  url: redis://redis.database.svc.cluster.local:6379/0
