apiVersion: v1
kind: ConfigMap
metadata:
  name: nautobot-config
  labels:
    app.kubernetes.io/name: nautobot
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  .bashrc: |
    {{- .Files.Get "cm/.bashrc" | nindent 4 }}

  uwsgi.ini: |
    {{- .Files.Get "cm/uwsgi.ini" | nindent 4 }}

  nautobot_config.py: |
    {{- .Files.Get "cm/nautobot_config.py" | nindent 4 }}
