---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana
  labels:
    app.kubernetes.io/name: grafana
spec:
  parentRefs:
    - name: grafana-gateway
  hostnames:
    - grafana.breeze-blocks.net
    - grafana.monitoring.svc.cluster.local
  rules:
    - backendRefs:
        - name: grafana
          port: 80
