#!/bin/bash

if [ -f ~/.githooks/coveralls.gpg ]; then
	COVERALLS_REPO_TOKEN="$(gpg -d -q "$HOME"/.githooks/coveralls.gpg)"
	export COVERALLS_REPO_TOKEN
fi
ANSIBLE_VAULT_PASSWORD_FILE=/etc/ansible/vault
CR_PAT="$(pass show github.com/edwardtheharris)"
PIPENV_VENV_IN_PROJECT=1

export ANSIBLE_VAULT_PASSWORD_FILE
export CR_PAT
export PIPENV_VENV_IN_PROJECT
