---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ .Release.Name }}
  # annotations:
  #   cert-manager.io/cluster-issuer: comms-svc-int
spec:
  gatewayClassName: eg
  listeners:
    - name: http
      protocol: HTTP
      port: 80
    - name: https
      protocol: HTTPS
      port: 443
    - name: prometheus
      protocol: TCP
      port: 9090
