apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
spec:
  ports:
    - name: {{ .Release.Name }}
      port: 80
      protocol: TCP
      targetPort: 9090
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}
  type: LoadBalancer
