#!/bin/bash

if [ -f "../../.3.13/bin/pipenv" ]; then
	../../.3.13/bin/pipenv install --dev -v
	../../.3.13/bin/pipenv shell
fi

printf "Predicted next version is: %s\n" "$(python -m version_query -p ..)"
printf "Incremented version is: %s\n" "$(python -m version_query -i ..)"
