#!/bin/bash

if [ -f "../../.3.14/bin/pipenv" ]; then
	"${HOME}/Documents/src/github.com/edwardtheharris/.3.14/bin/pipenv" install --dev -v
	# "${HOME}/Documents/src/github.com/edwardtheharris/.3.14/bin/pipenv" shell
else
	"${HOME}/Documents/src/github.com/edwardtheharris/.3.14/bin/pip" install -U pipenv
fi

printf "Predicted next version is: %s\n" "$(python -m version_query -p ..)"
printf "Incremented version is: %s\n" "$(python -m version_query -i ..)"
