[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
loguru = "*"
pipenv = "*"
nautobot = {extras = ["sso"], version = "*"}

[dev-packages]
"sphinxcontrib.autoyaml" = "*"
myst-parser = {extras = ["linkify"], version = "*"}
sphinx = "*"
sphinx-autobuild = "*"
sphinx-design = "*"
sphinx-book-theme = "*"
version-query = "*"
pylint = "*"

[nautobot]
nautobot = "*"
celery = "*"
